h1{
    color: red;
}
body{
    text-align: center;
      background-color: #B5CAFF;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        max-width: 1200px;
        margin: auto;
      }